body {
  background-image: url("https://wallpaperaccess.com/full/697663.jpg");
  font-family: 'Amatic SC', cursive;
  padding: 20px;
}
img {
  border-radius: 50px;
  border-style: double;
  border-width: 5px;
  height: 250px;
}
.img:hover {
  transform: scale(1.1);
}
h1  {
  font-size: 75px;
}
h2  {
  font-size: 54px;
}
.toga {
  background-color: #eae0c8;
  color: #daa520;
  overflow: auto;
  margin: 20px;
  height: 500px;
  border-color: #daa520;
}
.mary {
  background-color: #ff6666;
  color: #b30000;
  overflow: auto;
  margin: 20px;
  height: 500px;
  border-color: #b30000;
}
.taiga {
  background-color: #999999;
  color: #333333
}
::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(black, white);
::-webkit-scrollbar-track {
  background: grey;
}
