 body {
	background: url(Photos/cityAesthetic.jpg);
	background-size: cover;
}
* {
	margin: 0;
	padding: 0;
	box-size: border-box;
	color: #0a2830;
}

/* NavBar */

.nav {
	height: 60px;
	background-color: #0a2830;
	width: 100%;
	color: white;
	font-size: 16px;
}
.nav ul{
text-align: center;
}
.nav a {
	text-decoration: none;
	position: absolute;
	top: 10px;
}
.nav li {
	display: inline-block;
	border-radius: 50px;
	margin: 25px 100px;
}

.sub {
	left: 0;
}

.btn {
 background: rgb(197, 140, 185);
 border-radius: 100px;
 padding: 5px;
 font-size: 28px;
}

.btn:hover {
	background-color: #0a2830;
	color: rgb(197, 140, 185);
}

/* Homepage */

h1 {
  font-size: 100px;
  margin-top: 100px;
}
h2 {
  font-size: 25px;
}
.lorem {

}

hr {
	height: 5px;
	background-image: linear-gradient(to right, #ce6e8e, #0a2830, #ce6e8e);
	border: none;
	width: 450px;
	border-radius: 100px;
  margin: 0 auto;
}

.front {
  text-align: center;
}
